{% extends "base.html" %}
{% block content %}

<p>Quiz: {{ quiz.name }}</p>
<ul>
{% for q in questions %}
    <li>{{ q.text }}</li>
    {% for a in answers %}
        {% if a.question_id == q.id %}
        <div>
            {% if a.id in correct_answers %}
                <label for="answer_{{ a.id }}" style="color: green;">
            {% else %}
                <label for="answer_{{ a.id }}" style="color: red;">
            {% endif %}
            {% if a in chosen_answers %}
                <input type="checkbox" id="answer_{{ a.id }}" name="selected_answers" disabled checked="1"/>
            {% else %}
                <input type="checkbox" id="answer_{{ a.id }}" name="selected_answers" disabled/>
            {% endif %}
            {{ a.text }}</label>
        </div>
        {% endif %}
    {% endfor %}
{% endfor %}
</ul>

<a href="/quizlist/all_quizzes">Back to list</a>

{% endblock %}