{% extends "base.html" %}
{% block content %}

<p>Quiz: {{ quiz.name }}</p>
<ul>
{% for q in questions %}
    <li>{{ q.text }}</li>
    <ul>
    {% for a in answers %}
        {% if a.question_id is q.id %}
            <li>{{ a.text }}</li>
        {% endif %}
    {% endfor %}
    </ul>
    <a href="/quizlist/{{ q.id }}/edit">Edit Question</a><br>
    <a href="/quizlist/{{ q.id }}/remove_question">Delete Question</a>
{% endfor %}
</ul>

<a href ="/createquiz/{{ quiz.id }}">Add question</a>
<a href="/quizlist">Back to list</a>

{% endblock %}