.navbar {
    background-color: yellow;
}

a {
    color: green;
}

.logout-link {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
    color: inherit;
    font: inherit;
    text-decoration: underline;
}