{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>{% block title %}Django LAB{% endblock %}</title>
</head>
<body>
    <div class="navbar-items">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/createquiz">Create</a></li>
            <li><a href="/upload">Upload</a></li>
            <li><a href="/quizlist">Quizzes</a></li>
        </ul>
    </div>
    {% block content %}{% endblock %}
</body>
</html>